# .circleci/config.yml

version: 2.1

aliases:
  - &save_cache
    save_cache:
      key: v1-{{ checksum "yarn.lock" }}
      paths:
        - ./node_modules
  - &restore_cache
    restore_cache:
      key: v1-{{ checksum "yarn.lock" }}

tests_template: &tests_template
  steps:
    - checkout
    - *restore_cache
    - run: yarn install
    - run: yarn lint
    - run: yarn format:check
    - run: yarn test
    - run: yarn test:cov
    - run: yarn test:e2e
    - *save_cache

jobs:
  install_dependencies:
    docker:
      - image: circleci/node:14
    steps:
      - checkout
      - *restore_cache
      - run: yarn install
      - *save_cache

  test_node_14:
    <<: *tests_template
    docker:
      - image: circleci/node:14

  test_node_16:
    <<: *tests_template
    docker:
      - image: circleci/node:16

  docker_push:
    docker:
      - image: cimg/base:2023.05 # Circle CI Base Docker image

    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Authenticate with GCR
          command: |
            echo "${GCR_ACCESS_KEY}" | docker login -u _json_key --password-stdin https://gcr.io
      - run:
          name: Build image
          command: |
            docker build --rm=false \
            -t gcr.io/${GCR_PROJECT}/myapp:${CIRCLE_SHA1} \
            -t gcr.io/${GCR_PROJECT}/myapp:${CIRCLE_BRANCH} \
            -f ./Dockerfile .
      - run:
          name: Push image
          command: |
            docker push gcr.io/${GCR_PROJECT}/myapp:${CIRCLE_SHA1}
            docker push gcr.io/${GCR_PROJECT}/myapp:${CIRCLE_BRANCH}

  # kubernetes_deploy:

workflows:
  version: 2
  build_and_test:
    jobs:
      - test_node_14
      - docker_push
